:root {
  scroll-behavior: smooth;
  --primary: #4154f1;
  --secondary: #717ff5;
  --bgcolor: #f6f9ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--secondary);
  text-decoration: none;
}

body {
  font-family: "open sans", sans-serif;
  color: #444444;
  background: var(--bgcolor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
}
